.container {
    background: rgba(0,0,0,0.5);
}

.header h1, .overlay h1 {
    color: transparent;
    -webkit-text-stroke: 2px #ccba00;
    text-shadow: 0 0 1em #ffe10080;
    background: linear-gradient(#ead117, #5e5407);
    background-clip: border-box;
    background-clip: text;
}

.header h2, .overlay h2 {
    color: transparent;
    -webkit-text-stroke: 2px #ccba00;
    text-shadow: 0 0 1em #ffe10080;
    background: linear-gradient(#ead117, #5e5407);
    background-clip: border-box;
    background-clip: text;
}

ul.number-list li.number {
    border: 5px solid #b1a016;
    background: linear-gradient(140deg, #ffe100, #4a4205);
}

ul.number-list li.category {
    border: 5px solid #b1a016;
    background: linear-gradient(140deg, #ffe100, #4a4205);
}