.container {
    background: rgba(0,0,0,0.5);
}

.header h1, .overlay h1 {
    color: transparent;
    text-shadow: 0 0 1em #707070;
    background: linear-gradient(#e4e4e4, #000);
    background-clip: text;
    -webkit-text-stroke-color: #b5b5b5;
}

.header h2, .overlay h2 {
    color: transparent;
    text-shadow: 0 0 1em #707070;
    background: linear-gradient(#e4e4e4, #000);
    background-clip: text;
    -webkit-text-stroke-color: #b5b5b5;
}

ul.number-list li.number {
    background: linear-gradient(#818181, #c1c1c1);
    border: 4px solid #bfbfbf;
}

ul.number-list li.category {
    border: 4px solid #bfbfbf;
    background: linear-gradient(#818181, #c1c1c1);
}