.container {
    background: rgba(0,0,0,0.5);
}

.header h1, .overlay h1 {
    color: transparent;
    text-shadow: 0 0 1em #40e1e7;
    background: linear-gradient(#40e1e7, #fff);
    background-clip: text;
    -webkit-text-stroke: 2px #69b1af;
}

.header h2, .overlay h2 {
    color: transparent;
    text-shadow: 0 0 1em #40e1e7;
    background: linear-gradient(#40e1e7, #fff);
    background-clip: text;
    -webkit-text-stroke: 1px #69b1af;
}

ul.number-list li.number {
    border: 4px solid #75f6ec;
    background: linear-gradient(#00bfff, #8ffbff);
}

ul.number-list li.category {
    border: 4px solid #75f6ec;
    background: linear-gradient(#00bfff, #8ffbff);
}