.container {
    background: rgba(0,0,0,0.5);
}

.header h1, .overlay h1 {
    color: transparent;
    text-shadow: 0 0 1em #40e742;
    background: linear-gradient(#40e742, #39ceff);
    background-clip: text;
    -webkit-text-stroke: 2px #7df0cb;
}

.header h2, .overlay h2 {
    color: transparent;
    text-shadow: 0 0 1em #40e742;
    background: linear-gradient(#40e742, #39ceff);
    background-clip: text;
    -webkit-text-stroke: 1px #7df0cb;
}

ul.number-list li.number {
    border: 4px solid #82bbe4;
    background: linear-gradient(#0080de, #b5ddfc);
}

ul.number-list li.category {
    border: 4px solid #82bbe4;
    background: linear-gradient(#0080de, #b5ddfc);
}