<!DOCTYPE>
<html>
    <head>
        <title>REPORTING</title>
        <link rel="stylesheet" href="/src/bootstrap-4.0.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/src/DataTables/DataTables-1.10.16/css/dataTables.bootstrap.min.css">
        <script src="/src/jquery-3.3.1.min.js"></script>
        <script src="/src/DataTables/datatables.min.js"></script>
        <script src="/src/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
        <style>
            html, body {
                font-family: Helvetica;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                margin: 0;
            }

            body {
                padding: 2%;    
            }

            h1 {
                margin: -2% -2% 2% -2%;
                padding: 2%;
                background: #1a4cfe;
                color: #fff;
            }
            /* table.report {
                border-collapse: collapse;
            }

            table.report th, td {
                padding: 1em;
                text-align: left;
            }

            table.report th {
                background: #333;
                color: #fafafa;
            }

            table.report td {
                background-color: #eaeaea;
            } */
        </style>
    </head>
    <body>
        <h1>REPORT WINNER</h1>
        
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="category" id="category" class="form-control">
                        <option value="ALL" selected>ALL</option>
                        <option value="BSOG">BSOG</option>
                        <option value="BSOP">BSOP</option>
                        <option value="ACAC">ACAC</option>
                        <option value="FRDG">FRDG</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="prize">Prize</label>
                    <select name="prize" id="prize" class="form-control">
                        <option value="ALL">ALL</option>
                    </select>
                </div>
            </div>
        </div>

        <table class="report table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Drawing Number</th>
                    <th>Category</th>
                    <th>Prize</th>
                    <th>Winner Name</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{No}}</td>
                    <td>{{DrawingNumber}}</td>
                    <td>{{CategoryCode}}</td>
                    <td>{{PrizeCode}}</td>
                    <td>{{WinnerName}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </body>
    <script>
        $(document).ready(function(){
            $('table.report').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "fnRow": function (row, data, index) {
                    $('td', row).eq(0).html(index + 1);
                }
            });
            
            var dt = $('table.report').dataTable();

            $('select#category').on('change', function(){
                var categoryCode = $(this).val();
                var ddlPrizeCode = $('select#prize');

                if(categoryCode == 'ALL'){
                    dt.fnFilter('', 2);
                    $('select#prize option').each(function(k, v){
                        if(k > 0){
                            $(v).remove();
                        }
                    });

                    return;
                }

                dt.fnFilter(categoryCode, 2);

                $.ajax({
                    url: '/GetPrizeByCategory',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ catCode: categoryCode }),
                    success: function(data){
                        if(data){
                            ddlPrizeCode.html("");
                            ddlPrizeCode.append('<option value="ALL">ALL</option>');
                            $.each(data.PrizeCode, function(k, v){
                                ddlPrizeCode.append('<option value="' + v.PrizeCode + '">' + v.PrizeCode + '</option>');
                            });
                        }
                    }
                });
            });

            $('select#prize').on('change', function(){
                if($(this).val() == 'ALL'){
                    dt.fnFilter('', 3);
                } else {
                    dt.fnFilter($(this).val(), 3);
                }
            });
        });
    </script>
</html>