<!DOCTYPE>
<html>
    <head>
        <title>REPORT UNCLAIMED NUMBER</title>
        <link rel="stylesheet" href="/src/DataTables/datatables.min.css">
        <script src="/src/jquery-3.3.1.min.js"></script>
        <script src="/src/DataTables/datatables.min.js"></script>
        <style>
            html, body {
                font-family: Helvetica;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                margin: 0;
            }

            body {
                padding: 2%;    
            }

            h1 {
                margin: -2% -2% 2% -2%;
                padding: 2%;
                background: #1a4cfe;
                color: #fff;
            }

            .section {
                display: block;
                float: left;
                margin-right: 5%;
                font-size: 18pt;
            }

            .section h2 {
                font-size: 18pt;
                margin: 0 0 1em 0;
            }

            .section ul {
                margin: 0;
                padding: 0;
                list-style: number;
                line-height: 1.5em;
                text-align: right;
            }

            table.report {
                border-collapse: collapse;
            }

            table.report th, td {
                /* padding: 1em; */
                text-align: left;
            }

            table.report th {
                background: #333;
                color: #fafafa;
            }

            table.report td {
                background-color: #eaeaea;
            }
        </style>
    </head>
    <body>
        <h1>REPORT UNCLAIMED NUMBER</h1>

        <table class="search-criteria">
            <tr>
                <th>Category</th>
                <th>Prize</th>
            </tr>
            <tr>
                <td>
                    <select name="category" id="category">
                        <option value="ALL" selected>ALL</option>
                        <option value="BSOG">BSOG</option>
                        <option value="BSOP">BSOP</option>
                        <option value="ACAC">ACAC</option>
                        <option value="FRDG">FRDG</option>
                    </select>
                </td>
                <td>
                    <select name="prize" id="prize">
                        <option value="ALL">ALL</option>
                    </select>
                </td>
            </tr>
        </table>

        <table class="report">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Drawing Number</th>
                    <th>Category</th>
                    <th>Prize</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{No}}</td>
                    <td>{{DrawingNumber}}</td>
                    <td>{{CategoryCode}}</td>
                    <td>{{PrizeCode}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </body>
    <script>
        $(document).ready(function(){
            $('table.report').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
            
            var dt = $('table.report').dataTable();

            $('select#category').on('change', function(){
                var categoryCode = $(this).val();
                var ddlPrizeCode = $('select#prize');

                dt.fnFilter(categoryCode);

                $.ajax({
                    url: '/GetPrizeByCategory',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ catCode: categoryCode }),
                    success: function(data){
                        if(data){
                            ddlPrizeCode.html("");
                            ddlPrizeCode.append('<option value="ALL">ALL</option>');
                            $.each(data.PrizeCode, function(k, v){
                                ddlPrizeCode.append('<option value="' + v.PrizeCode + '">' + v.PrizeCode + '</option>');
                            });
                        }
                    }
                });
            });
        });
    </script>
</html>