<!DOCTYPE>
<html>
    <head>
        <title>BSO GOLD</title>
        <script src="/src/jquery-3.3.1.min.js"></script>
        <style>
            html, body {
                font-family: Helvetica;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                margin: 0;
            }

            body {
                padding: 2%;    
            }

            h1 {
                margin: -2% -2% 2% -2%;
                padding: 2%;
                background: #e9b03d;
                color: #fff;
            }

            .section {
                display: block;
                float: left;
                margin-right: 5%;
                font-size: 18pt;
            }

            .section h2 {
                font-size: 18pt;
                margin: 0 0 1em 0;
            }

            .section ul {
                margin: 0;
                padding: 0;
                list-style: number;
                line-height: 1.5em;
                text-align: right;
            }
        </style>
    </head>
    <body>
        <h1>PEMENANG CATEGORY BSO GOLD</h1>
        
        <div class="section">
            <h2>EMAS 50 Gram</h2>
            <ul ID="EMAS50GR">
                {{#EMAS50GR}}
                <li>{{DrawingNumber}}</li>
                {{/EMAS50GR}}
            </ul>
        </div>

        <div class="section">
            <h2>EMAS 0.2 KG</h2>
            <ul ID="EMAS02KG">
                {{#EMAS02KG}}
                <li>{{DrawingNumber}}</li>
                {{/EMAS02KG}}
            </ul>
        </div>

        <div class="section">
            <h2>EMAS 0.3 KG</h2>
            <ul ID="EMAS03KG">
                {{#EMAS03KG}}
                <li>{{DrawingNumber}}</li>
                {{/EMAS03KG}}
            </ul>
        </div>

        <div class="section">
            <h2>EMAS 0.5 KG</h2>
            <ul ID="EMAS05KG">
                {{#EMAS05KG}}
                <li>{{DrawingNumber}}</li>
                {{/EMAS05KG}}
            </ul>
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready(function(){
            var socket = io();
            
            socket.on('result-bsog', function(msg){
                console.log(msg);
                $('ul#' + msg.prizeCode.replace('.', '')).append('<li>' + msg.drawingNumber + '</li>');
            });
        });
    </script>
</html>