<!DOCTYPE>
<html>
    <head>
        <title>{{categoryCode}}</title>
        <script src="/src/jquery-3.3.1.min.js"></script>
        <style>
            html, body {
                font-family: Helvetica;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                margin: 0;
            }

            body {
                padding: 2%;    
            }

            h1 {
                margin: -2% -2% 2% -2%;
                padding: 2%;
                background: {{getColor categoryCode}};
                color: #fff;
            }

            .section {
                display: block;
                float: left;
                margin-right: 5%;
                font-size: 18pt;
            }

            .section h2 {
                font-size: 18pt;
                margin: 0 0 1em 0;
            }

            .section ul {
                margin: 0;
                padding: 0;
                list-style: number;
                line-height: 1.5em;
                text-align: right;
                height: 80%;
                column-count: 1;
            }

            .section li {
                margin-left: 2.5em;
            }
        </style>
    </head>
    <body>
        <h1>PEMENANG CATEGORY {{categoryCode}}</h1>
        
        <div class="container">
            {{#each prizeCode as |prize|}}
            <div class="section">
                <h2>{{this}}</h2>
                <ul ID="{{ removeDot this }}">
                    {{#each (lookup ../data prize )}}
                    <li>{{DrawingNumber}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
	function sort_li(a, b){
		return parseInt($(b).html().substr(4, 4)) < parseInt($(a).html().substr(4, 4)) ? 1 : -1;    
	}

        $(document).ready(function(){
	    $('ul').each(function(k, v){
		$(v).css('column-count', Math.round(v.children.length / 13).toString());
            });

            var socket = io();
            var category = '{{categoryCode}}';
            socket.on('result-' + category.toLowerCase() , function(msg){
                console.log(msg);
                $('ul#' + msg.prizeCode.replace('.', '')).append('<li>' + msg.drawingNumber + '</li>');
                
                var list = $('ul#' + msg.prizeCode.replace('.', ''));
                if(list.children().length == 14){
                    list.css('column-count', '2');
                } else if (list.children().length == 27) {
                    list.css('column-count', '3');
                } else if (list.children().length == 40) {
                    list.css('column-count', '4');
                } else if (list.children().length == 53) {
                    list.css('column-count', '5');
                } else if (list.children().length == 66) {
                    list.css('column-count', '6');
                }

		$('ul#' + msg.prizeCode.replace('.', '') + ' li').sort(sort_li).appendTo('ul#' + msg.prizeCode.replace('.', '')); // append again to the list
		// sort function callback
            });
        });
    </script>
</html>