* {
    font-family: Helvetica;
}
.container, body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* .wrapper {
    height: 50%;
    width: 100%;
    overflow: hidden;
} */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:  stretch;
    align-items: stretch;
}

.header {
    text-align: center;
    color: #1a4088;
}

.header h1 {
    font-size: 60pt;
    margin: 0;
}

.header h2 {
    font-size: 36pt;
    margin: 0;
}

.overlay h1 {
    font-size: 60pt;
    margin: 0;
    text-align: center;
    color: #fff;
}

.overlay h2 {
    font-size: 36pt;
    margin: 0;
    text-align: center;
    color: #fff;
}

.wrapper {
    display: flex;
    border: 2px solid #0c0136;
    flex: 1 1 auto;
}

/* .category {
    align-self: flex-start;
    border-right: 2px solid #0c0136;
    flex: 0 0 20%;
} */

ul.number-list {
    margin: 1em 1em 1em 1em;
    list-style: none;
    text-align: center;
    padding: 0;
    align-self: center;
}

ul.number-list li {
    font-size: 35pt;
    display: inline-block;
    text-align: center;
    line-height: 3em;
    border-radius: 30px;
    font-weight: bold;
    font-family: Helvetica;
    margin-right: 0.3em;
}

ul.number-list li.number {
    width: 1.7em;
    background: #1a4088;
    color: #fff;
}

ul.number-list li.category {
    background: #1a4088;
    color: #fff;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

ul.number-list li.separator {
    color: #1a4088;
}

div.result {
    margin: 0;
    border-left: 2px solid #1a4088;
    box-sizing: border-box;
    padding: 0;
    flex: 1 1 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

ul.result-number {
    list-style: none;
    margin: 0;
    left: 0;
    top: 0;
    position: absolute;
    column-count: 3;    
    /* animation: scroll 10s linear 1s infinite; */
    overflow: hidden;
    list-style: number;
}

ul.result-number li {
    font-size: 1.5em;
    padding-right: 2em;
}

button.btn {
    width: 9em;
    margin-left: 5em;
    height: 3em;
    font-size: 18pt;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border: none;
}

button.btn-start {
    background: #1559c1;
}

button.btn-stop {
    background: #0c0136;
    opacity: 0;
}

button.btn:hover{
    cursor: pointer;
}

.button-group {
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    padding: 0;
    color: #fff;
    background: rgba(0, 16, 86, 0.95);
    z-index: 9;
}

ul.nomor-undian {
    column-count: 5;
    min-height: 100%;
    margin: 1em 0 0 0;
    list-style-type: number;
    line-height: 1.5em;
    font-size: 18pt;
    padding-left: 5%;
}

#close-overlay {
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 36pt;
}

#close-overlay:hover{
    cursor: pointer;
}

@keyframes scroll {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}